server:
  port: 8090

spring:
  application:
    name: Book Service

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${BOOK_DB_URL}
    username: ${BOOK_DB_USERNAME}
    password: ${BOOK_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
